ion-content(padding='')
  .col
    .row(style='text-align: center')
      img(src='assets/login.png', width='230', style='margin: auto')
    .col(padding='')
      form#loginForm
        ion-item
          ion-label Username
          ion-input(type='text', name='username', [(ngModel)]='username', required)
        ion-item
          ion-label Password
          ion-input(type='password', name='password', [(ngModel)]='password', required)
        button(ion-button='', block='', (click)='login()') Login
      

